#mousefollower{
    position: absolute; 
    height: 200px;
    width: 200px;
    background-color: white;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),-4px -4px 12px white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 15% 1fr;
    border-radius: 10px 0 10px 0;
    font-family: 'Segoe UI', 'sans';
    p{
        justify-self: center;
        align-items: center;
        font-size: calc(0.45vw + 0.45rem);
    }
    ul{
        padding: 0;
        height: 90%;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-row-gap: 5px;
        li{
            display: grid;
            grid-template-columns: 35% 1fr;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .name{
                align-self: center;
                justify-self: center;
                font-size: calc(0.45vw + 0.45rem);

            }
        }
    }
}
#mousefollower2{
    position: absolute; 
    height: 100px;
    width: 450px;
    background-color: white;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),-4px -4px 12px white;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px 0 10px 0;
    font-family: 'Segoe UI', 'sans';
    .title,.info{
        width: 95%;
        margin: 0 auto;
    }
    .info{
        display: grid;
        grid-template-columns: 15% 1fr;
    }
    .error{
        justify-self: center;
        align-self: center;
        position: absolute;
    }
}