* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.gridcenter {
    display: grid;
    justify-content: center;
    align-items: center;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    height: 20vh;
    font-family: 'Teko', sans-serif;
    font-size: calc(0.5vw + 0.5rem);

    h3 {
        justify-self: center;
        width: 80%;
        letter-spacing: 0.2rem;
        color: rgba(128, 128, 128, 0.753);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: calc(0.5vw + 1rem);

        #key {
            cursor: pointer;
            display: block;
            border: 0.3px black solid;
            border-radius: 2px;
            position: relative;
            width: 30px;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: gray 1px solid;

            &:before {
                content: '';
                z-index: -1;
                position: absolute;
                width: 125%;
                height: 120%;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: gray;
                border-radius: 5px;
            }

        }
    }
}

.popup {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: red;
}

#wrapper {
    width: calc(100vw - 2rem);
    max-width: 1000px;
    margin: 5% auto;

    #repos_Container {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-row-gap: 25px;

        .repo {
            background-color: red;
            background: #FFFFFF;
            box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25), -4px -4px 30px #FFFFFF;
            border-radius: 50px 0px;
            padding: 5%;
            min-height: 20vh;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 25% 1fr;
            grid-column-gap: 25px;
            overflow: hidden;

            .img {
                .repo_Image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 3px;
                }
            }

            .information {
                grid-template-rows: 2fr 2fr 60px;
                justify-content: unset;

                .repo_Name,
                .repo_Description,
                .repo_Stats {
                    text-align: left;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    word-break: break-word;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }

                .repo_Name {
                    font-size: calc(1.5vw + 1.5rem);
                    justify-self: start;
                    font-family: 'Montserrat', sans-serif;
                }

                .repo_Description {
                    max-width: 500px;
                    justify-self: start;
                    font-family: 'Inconsolata', monospace;
                }

                .repo_Stats {
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 25px;
                    font-family: 'Roboto', sans-serif;

                    .btns {
                        display: flex;
                        justify-content: space-between;
                        height: 100%;
                        width: 100%;
                    }

                    .repo_Stars,
                    .repo_Issues {
                        background: #FFFFFF;
                        box-shadow: -4px -4px 12px #FFFFFF, 4px 4px 12px rgba(0, 0, 0, 0.25);
                        border-radius: 20px 0px 20px 0px;
                        width: 40%;
                        height: 80%;
                        align-self: flex-end;
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;

                        span {
                            height: 100%;
                            width: 100%;
                            z-index: 6;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            transition: 400ms ease-in-out;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            width: 10%;
                            background-color: black;
                            transition: 400ms ease-in-out;

                        }

                        &:hover {
                            color: white;

                            &:before {
                                width: 100%;
                            }
                        }
                    }

                    .repo_Created_atby {
                        align-self: flex-end;
                        justify-self: end;
                        font-size: calc(0.25vw + 0.6rem);
                    }
                }
            }
        }
    }
}

.stars_stats,
.issues_stats {
    z-index: 9;
    position: fixed;
    display: none;

    .content {
        background-color: white;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3), -4px -4px 12px white;
        border-radius: 10px 0 10px 0;
        font-family: 'Segoe UI', 'sans';
    }
}

.stars_stats {
    .content {
        height: 200px;
        width: 200px;
        grid-template-rows: 15% 1fr;

        p {
            justify-self: center;
            align-items: center;
            font-size: calc(0.5vw + 0.5rem);
        }

        ul {
            padding: 0;
            height: 90%;
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-row-gap: 5px;

            li {
                display: grid;
                grid-template-columns: 35% 1fr;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .name {
                    align-self: center;
                    justify-self: center;
                    font-size: calc(0.45vw + 0.45rem);
                }
            }
        }
    }
}

.issues_stats {
    .content {
        justify-content: flex-start;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100px;
        width: 450px;

        .title,
        .info {
            width: 95%;
            margin: 0 auto;
        }

        .title {
            font-size: calc(0.6vw + 0.6rem);
        }

        .info {
            display: grid;
            align-self: center;
            grid-template-columns: 15% 1fr;
            grid-column-gap: 5px;

            .status {
                background-color: rgb(2, 177, 2);
                color: white;
                padding: 0.2rem;
                line-height: 1.2rem;
            }

        }

        .error {
            justify-self: center;
            align-self: center;
            position: absolute;
        }
    }
}

@media(max-width:600px) {
    #app {
        #wrapper {
            #repos_Container {
                .repo {
                    grid-template-rows: 1fr 2fr;
                    grid-template-columns: unset;
                    min-height: 50vh;
                    grid-column-gap: 25px;

                    .img {
                        .repo_Image {
                            border-top-left-radius: 40px;
                            overflow: hidden;
                        }
                    }

                    .information {
                        .repo_Stats {
                            grid-template-columns: 1fr;
                        }

                        .repo_Created_atby {
                            justify-self: center;
                        }
                    }
                }
            }
        }
    }
}